.sp1_table-navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    flex-wrap: wrap;
    gap: 10px;
}

.sp1_table_tab{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.sp1_table_tab--dd-toggle{
    font-size: 16px;
    border: 1px solid #e9eaec;
    color: #444;
    padding: 6px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}

.sp1_table_tab--dd-toggle:hover{
    background: #f3f5f7;
}

.sp1_table_tab--dd-toggle > i{
    color: #999;
}

.sp1_table_tab--dd-menu{
    padding: 3px;
}

.sp1_table_tab--dd-item{
    cursor: pointer;
}

.sp1_table_tab--dd-item.active{
    background-color: #eff1f6;
}

.sp1_project_task_table{
    /* border-left: 1px solid #e9eaec; */
    color: #777;
    border-radius: 0;
    padding-top: 3px;
    padding-bottom: 3px;
}

.sp1_tasks_filter_container{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 250px;
}

.sp1_tasks_filter_container .sp1_filter_toggle{
    padding: 8px;
}

.sp1_project_task_table{
    font-weight: 500;
    border-radius: 3px;
    font-size: 14px;
    padding: 0px 10px;
    height: 35px;
}

.sp1_tasks_filter_item{
    border: 1px solid #f0f0f0;
}

.sp1_project_task_table > .sp1__jquery_date_btn{
    height: 34.5px;
    white-space: nowrap;
}

.sp1_task_create_modal_panel{
    max-width: 800px;
}

.sp1_task_create_modal_body{
    padding: 10px 20px;
}

.sp1_task_create_modal_body_form{
    max-height: 70vh;
    overflow-y: auto;
}

.multipleInputItem{
    position: relative;
}

.multipleInputItemButton{
    position: absolute;
    bottom: 6px;
    right: 10px;
    background: transparent;
    color: #afafaf;
    padding: 3px 4px;
}

.multipleInputItemButton:hover{
    color: #f00;
}

.color_remove_btn{
    background-color: rgb(253, 224, 224);
    color: #f00;
    transition: all .4 ease-in-out;
}

.color_remove_btn:hover{
    background: #f00;
    color: rgb(255, 243, 243);
}

.sp1_data_table_td--acknowledgement{
    min-width: 320px;
}
