.revision_section_container{
    padding: 1rem 2rem;
}

.table_container{
    background: #fff;
    padding: 1rem;
    border-radius: 0.5rem;
}

.table_wrapper{
    max-height: calc(100vh - 300px);
    overflow: auto;
}
.table{
    border-color: #ffffff00 !important;
}
.table thead tr th{
    background: rgb(247, 247, 247) !important;
    border-top: 1px solid #ececec !important;
}

.table tbody tr td,
.table thead tr th{
    padding: 10px;
    border-color: #ececec !important;
}

.table tbody tr td:first-child,
.table thead tr th:first-child{
    border-left: 1px solid #ececec !important;
}

.pm_comment{
    padding: 10px;
    border-radius: 0.3rem;
    background-color: #f8f8f8;
    margin-bottom: 1rem;
    border: 1px solid #f0f0f0;
}

.status{
    width: fit-content;
    background: #e6f8ef;
    color:  #00b95d;
    padding: 0.25rem 0.85rem;
    font-size: 12px;
    line-height: 1.6;
    letter-spacing: 0.52px;
    overflow: hidden;
    border-radius: 6px;
    border: 1px solid #80dcae;

    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
}

.status.deny{
    background: #fee6e6;
    color:  #f22121;
    border-color: #f99c9c;
}

.status.pending{
    color: #ffa500;
    background: #fff8e6;
    border-color: #ffa500;
}


.revision_popover_panel{
    padding: 1rem;
    border-radius: 8px;
    background-color: #fff;
    font-size: 13px;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    /* width: clamp(255px, 100%, 350px); */
    max-width: 600px;
    max-height: 450px;
    overflow-y: auto;
}
